<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col" *ngFor="let key of headers">{{ key }}</th>
      <th *ngIf="actionRequired">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of data">
      <td *ngFor="let setting of dataSettings">{{ getValue(value,setting) }}</td>
      <td *ngIf="actionRequired">
        <span *ngFor="let action of actionSettings">
          <button class='btn ' [ngClass]=" action.class!.join(' ') " (click)="callParent(action,value)">{{action.title}}</button>
        </span>
      </td>
    </tr>
    <!-- <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr> -->
  </tbody>
</table>
