
<p>Start editing to see some magic happen :)</p>

<app-button
  [name]="'save'"
  [classes]="['btn', 'btn-lg', 'btn-success', 'mx-4']"
  (onClick)="printMsg($event)"
></app-button>

<br />
{{ msg }}

<br />
<!-- <app-modal></app-modal> -->

<br />

<div class="container-fluid">
  <app-table [data]="customers" [config]="settings"></app-table>
</div>


<!-- <app-modal 
*ngIf="showModal"
[modalType]="modalData.modalType"
[header]="modalData.header"
[subHeader]="modalData.subHeader"
[buttonText]="modalData.buttonText"
[isDisabled]="buttonDisabled"
(cancel)="showModal = false"
(submit)="submit()"
>
<h3>Injected Content</h3>
<p>Additional modal content goes here...</p>
</app-modal> -->

<!-- Large modal
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"  [ngStyle]="{'display':display}" (click)="openModal()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
 -->
